<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <title>Contact us</title>

</head>
<body>
    <header>
    <a class="link1" href="http://localhost:1000/">Home</a>
    <a class="link2" href="http://localhost:1000/product">Products</a>
    <a class="link3" href="http://localhost:1000/contact">Contact</a>
    </header>
    <hr>
    
    <h1 class="contact1">Contact us</h1>
    <img class="img1" src="img\contact.jpg">
    <div class="page">
    <form method="post">
        <label for="text">Name: </label>
        <input type="text"><br><br>
        <label for="text1">Lastname: </label>
        <input type="text1"><br><br>
        <label>Email: </label>
        <input type="email" name="mail" id="mail"><br><br>
        <label>Number: </label>
        <input type="text"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>