<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 1</title>
    <link rel="stylesheet" href="C:\Users\Admin\Downloads\project1\public\css\style.css">
    <style>
        h1{
            color: blue;
        }

        a{
            text-decoration: none;
            color: black;
            font-size: 25px;
        }

        .link1{
            position: absolute;
            left: 100px;
        }
    </style>
</head>
<body>
    <a class="link1" href="http://localhost:1000/product">Products</a>
    <a class="link2" href="http://localhost:1000/contact">Contact</a>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi expedita, debitis similique error magni sit vitae!</h1>
</body>
</html>