<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <title>Products</title>

</head>
<body>
    <header>
    <a class="link1" href="http://localhost:1000/">Home</a>
    <a class="link2" href="http://localhost:1000/product">Products</a>
    <a class="link3" href="http://localhost:1000/contact">Contact</a>
    </header>
    <hr>

    <h1>Products</h1>
</body>
</html>