<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        h1{
            color: blue;
        }

        a{
            text-decoration: none;
            color: black;
            font-size: 25px;
        }

        .link1{
            position: absolute;
            left: 100px;
        }
    </style>
</head>
<body>
    <a class="link1" href="http://localhost:1000/">Home</a>
    <a class="link2" href="http://localhost:1000/contact">Contact</a>
    <h1>Products</h1>
</body>
</html>